<!DOCTYPE html>
<html>
	<head>
		<link href="/favicon.ico" rel="icon" type="image/x-icon">
		<style type="text/css">
		{% include "../reset.css" %}
		{% include "../styles.css" %}
		</style>
		<script>
		{% include "../main.js" %}
		</script>
	</head>
	<body>
		{% include "../svg/sprite.svg" %}
		<header>
			<nav id="header-masthead">
				<div>
					<svg class="logo-main"><use xlink:href="#remax-logo" /></svg>
					<svg class="logo-collection"><use xlink:href="#remax-collection-logo" /></svg>
					<svg class="logo-commercial"><use xlink:href="#remax-commercial-logo" /></svg>
					<a href="https://global.remax.com/">global.remax.com&nbsp;<em>&rsaquo;</em></a>
				</div>
			</nav>
			<nav id="header-toc">
				<ul>
					<li><div><a href="/find-real-estate"><span>Listings</span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="#"><span>Buying Tips <em>&or;</em></span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="#"><span>Selling Tips <em>&or;</em></span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="#"><span>Find An Agent <em>&or;</em></span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="/editorial/medianewsroom"><span>Media Newsroom</span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="#"><span>Join RE/MAX <em>&or;</em></span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="https://blog.remax.ca/"><span>Blog</span></a></div></li>
					<li><div><a href="/my-remax"><span><svg><use xlink:href="#favorite-icon" /></svg></span></a></div></li>
					<li><div class="sep">|</div></li>
					<li><div><a href="#"><span><svg><use xlink:href="#account-icon" /></svg></span></a></div></li><!-- TODO: This needs a dropdown -->
					<li><div><a href="#"><span>Register or Log In <em>&rsaquo;</em></span></a></div></li><!-- TODO: This needs a popup -->
				</ul>
			</nav>
			<nav id="header-breadcrumbs">
				<div>
					<a href="#">
						<svg><use xlink:href="#search-icon" /></svg>
						<span>Back to Saved Listings</span>
					</a>
				</div>
			</nav>
		</header>
		<main>
			<article id="listing">
				<section id="listing-overview">
					<div class="listing-header">
						<svg><use xlink:href="#remax-balloon" /></svg>
						<h1>1313 - 438 King St W</h1>
						<h2>Waterfront Communities C1, Toronto, ON, M5V 3T9</h2>
						<p><em>MLS&reg; #: C4440609</em> | HOUSTON ZUCKERMAN, RE/MAX HALLMARK REALTY LTD</p>
					</div>
					<div class="listing-pane">
						<div class="listing-gallery show-0">
                        	<img src="https://remax-listingphotos-ca1.imgix.net/x2/@v=389613653@/62507/6/609/c4440609/c4440609_1.jpg?h=400&dpr=2&fit=max&fm=pjpg&auto=format,compress&q=35" loading="eager" style="display: block" />
                        	<img src="https://remax-listingphotos-ca1.imgix.net/x2/@v=386467925@/62507/6/609/c4440609/c4440609_2.jpg?h=400&dpr=2&fit=max&fm=pjpg&auto=format,compress&q=35" loading="lazy" />
						</div>
					</div>
					<div class="listing-price">
						<h1>$1,199,900</h1>
						<a href="#" class="button-small"><svg><use xlink:href="#favorite-icon" /></svg><span>Save</span></a>
						<div>
							<p>Est Mortage $5,443.10/mo <sup>i</sup></p>
							<p><em>2</em> bed | <em>2</em> bath | <em>N/A</em> sqft | condo</p>
						</div>
						<div>
							<p>Date Listed: <em>Mon, May 06, 2019</em></p>
							<p>Property Tax: <em>$4,331 (2018)</em></p>
						</div>
						<a class="button-primary" href="#">Schedule a Viewing</a>
						<a class="button-secondary" href="#">Request More Info</a>
					</div>
				</section>
				<div>
					<section id="listing-toc">
						<h2>More to See</h2>
						<a href="#"><svg><use xlink:href="#map-icon" /></svg><span>Map</span></a>
						<a href="#"><svg><use xlink:href="#poi-icon" /></svg><span>Points of Interest</span></a>
						<a href="#" class="disabled"><svg><use xlink:href="#video-icon" /></svg><span>Video</span></a>
						<a href="#" class="disabled"><svg><use xlink:href="#tour-icon" /></svg><span>Virtual Tour</span></a>
						<a href="#"><svg><use xlink:href="#gallery-icon" /></svg><span>Gallery</span></a>
					</section>
					<hr />
					<section id="listing-description">
						<h2>Property Description</h2>
						<p>An Entertainer's Dream. Open Concept Corner Suite W/ An Incredible 673 Sq Ft Terrace Boasting Bbq Gas Line, Water Source &amp; Spectacular 180 Degree East, South &amp; West Views. 2 Walk Outs To The Terrace. Filled With Natural Light. 9' Ceilings. Split Floor Plan W/ Huge Kitchen Island &amp; Stainless Steel Appliances. 2 Zoned Climate Controls. Perfect Walk &amp; Transit Score Of 100 In The Heart Of Toronto, Ttc At Your Door, Steps To Restaurants, Bars &amp; The Lake **** EXTRAS **** Club Hudson Amenities Are Some Of The Most Impressive In The City: Gym, Steam Room, Lounge, Dining, Billiards, Media Room. 24 Hr Concierge. Ge Profile Ss Appliances. Parking &amp; Locker Included. Hydro Included In Maintenance.</p>
						<div>
							<div class="content">
								<h3>Details</h3>
								<dl><dt>Property Type:</dt><dd>Condo</dd></dl>
								<dl><dt>Property Tax:</dt><dd>$4,331 (2018)</dd></dl>
								<dl><dt>Fees:</dt><dd>$778</dd></dl>
								<dl><dt>Last Updated:</dt><dd>Thu, May 09, 2019</dd></dl>

								<h3>Key Facts</h3>
								<dl><dt>MLS&reg; #:</dt><dd>C4440609</dd></dl>
								<dl><dt>Style:</dt><dd>N/A</dd></dl>
								<dl><dt>Ownership-Type:</dt><dd>N/A</dd></dl>
								<dl><dt>Year Built:</dt><dd>N/A</dd></dl>
								<dl><dt>Sqft:</dt><dd>N/A</dd></dl>
								<dl><dt>Date Listed:</dt><dd>May 06, 2019</dd></dl>
								<dl><dt>Occupancy:</dt><dd>Owner</dd></dl>
								<dl><dt>Stories:</dt><dd>13</dd></dl>
							</div>
							<div class="content expand-target">
								<h3>Inside</h3>
								<dl><dt>Heating</dt><dd>Heat Pump</dd></dl>
								<dl><dt>Heating Source:</dt><dd>Gas</dd></dl>
								<dl><dt>Rooms:</dt><dd>5</dd></dl>
								<dl><dt>Stories:</dt><dd>13</dd></dl>
								<dl><dt>Air Conditioning:</dt><dd>Central Air</dd></dl>

								<h3>Room Detail</h3>
								<dl><dt>Bedroom:</dt><dd>3.55 X 2.8</dd></dl>
								<dl><dt>Dining Room:</dt><dd>5.5 X 3.6</dd></dl>
								<dl><dt>Living Room:</dt><dd>5.5 X 3.6</dd></dl>
								<dl><dt>Kitchen:</dt><dd>4.6 X 2.7</dd></dl>
								<dl><dt>Master Bedroom:</dt><dd>4.35 X 3.35</dd></dl>
								<dl><dt>Foyer:</dt><dd>3 X 1.6</dd></dl>

								<h3>Outside</h3>
								<dl><dt>Parking Spaces:</dt><dd>1</dd></dl>
								<dl><dt>Parking:</dt><dd>Underground, Owned</dd></dl>
								<dl><dt>Garage:</dt><dd>Yes</dd></dl>
								<dl><dt>Garage/Carport:</dt><dd>Underground</dd></dl>
								<dl><dt>Area:</dt><dd>Toronto</dd></dl>
								<dl><dt>Faces:</dt><dd>SE</dd></dl>
								<dl><dt>Patio:</dt><dd>Terr</dd></dl>
							</div>
						</div>
						<div class="expander">
							<a href="#" class="open">See more details <em>&or;</em></a>
							<a href="#" class="close">See less details <em>&and;</em></a>
						</div>
					</section>
					<hr />
					<section id="listing-neighborhood" class="overview-selected">
						<h2>About the Neighborhood</h2>
						<nav>
							<a href="#" class="overview-toggle" onClick="return toggleNeighborhoodSection('overview');">Overview</a>
							<a href="#" class="income-toggle" onClick="return toggleNeighborhoodSection('income');">Average Household Income</a>
							<a href="#" class="education-toggle" onClick="return toggleNeighborhoodSection('education');">Education</a>
							<a href="#" class="ownership-toggle" onClick="return toggleNeighborhoodSection('ownership');">Own vs. Rent</a>
						</nav>
						<section class="overview-content">
							<div>
								<h3>Waterfront Communities-The Island</h3>
								<a href="/neighbourhoods/Waterfront-Communities-The-Island-real-estate-guide-g10_dpz81xr3">Learn more <em>&rsaquo;</em></a>
							</div>
							<p>
								 Waterfront Communities-The Island offers a variety of experiences for home buyers who enjoy a vibrant atmosphere and spending time outdoors. Finding bustling streets is very easy in this part of the city. There is a wide selection of entertainment venues, there are usually lots of people around, and finding one of the over 50 bars is very easy as they are generally situated in very convenient locations. There is not that much greenery in this area; more specifically, residents will find that there are few tree-lined streets. However, it is very easy to access green spaces in the neighbourhood, since most properties for sale have one nearby and there are over 50 parks nearby for residents to enjoy.
							</p>
						</section>
						<section class="income-content">
							<dl><dd>127K</dd><dt>Household Income</dt></dl>
							<dl class="inv"><dd>66K</dd><dt>Individual Income</dt></dl>
						</section>
						<section class="education-content">
							<dl class="inv"><dd>11.48%</dd><dt>High School Diploma</dt></dl>
							<dl class="hl"><dd>2.64%</dd><dt>Apprenticeship Or Trade Certificate</dt></dl>
							<dl><dd>13.26%</dd><dt>College Certificate Or Diploma</dt></dl>
							<dl class="hl"><dd>4.38%</dd><dt>University Certificate Or Dipoma</dt></dl>
							<dl><dd>41.47%</dd><dt>Bachelors Degree</dt></dl>
							<dl class="inv"><dd>21.07%</dd><dt>Masters Degree Or Doctorate</dt></dl>
							<dl class="inv"><dd>4.39%</dd><dt>No High School Diploma</dt></dl>
						</section>
						<section class="ownership-content">
						
						</section>
					</section>
					<hr />
					<section id="listing-poi">
						<h2>Points of Interest</h2>
						<div class="viewer">
							<ul>
								<li><a href="#"><svg><use xlink:href="#transit-icon" /></svg><span>Transit friendly</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#elementary-schools-icon" /></svg><span>Elementary Schools</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#high-schools-icon" /></svg><span>High Schools</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#pedestrian-icon" /></svg><span>Pedestrian friendly</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#groceries-icon" /></svg><span>Groceries</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#vibrant-icon" /></svg><span>Vibrant</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#cycling-icon" /></svg><span>Cycling friendly</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#nightlife-icon" /></svg><span>Nightlife</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#cafes-icon" /></svg><span>Cafes</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#restaurants-icon" /></svg><span>Restaurants</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#shopping-icon" /></svg><span>Shopping</span><span class="score-high">10</span></a></li>
								<li><a href="#"><svg><use xlink:href="#parks-icon" /></svg><span>Parks</span><span class="score-high">9</span></a></li>
								<li><a href="#"><svg><use xlink:href="#daycare-icon" /></svg><span>Daycares</span><span class="score-medium-high">9</span></a></li>
								<li><a href="#"><svg><use xlink:href="#car-icon" /></svg><span>Car friendly</span><span class="score-medium">5</span></a></li>
								<li><a href="#"><svg><use xlink:href="#greenery-icon" /></svg><span>Greenery</span><span class="score-low">2</span></a></li>
								<li><a href="#"><svg><use xlink:href="#quiet-icon" /></svg><span>Quiet</span><span class="score-low">0</span></a></li>
							</ul>
							<div class="map">
								Map
							</div>
						</div>
					</section>
					<hr />
					<section id="listing-suggested">
						<h2>Suggested Listings (9)</h2>
					</section>
				</div>
				<aside>
					<section id="listing-agents">
                    	People
					</section>
					<hr />
					<section id="listing-contact">
						Contact

					</section>
					<hr />
					<section id="listing-mortgage">
						<h2>Mortgage Calculator</h2>
					</section>
					<hr />
					<section id="listing-articles">
						<h2>Related RE/MAX Articles</h2>

					</section>
					<hr />
					<section id="listing-brand">
						<h2>The Sign of a RE/MAX Agent</h2>
					</section>
				</aside>
			</article>
		</main> 
		<footer>
			<nav id="explore-toc">
				<h1>Explore Canada's most popular cities and neighborhoods</h1>
				<div>
					<div class="content">
						<section>
							<a href="/on/ottawa-real-estate">Ottawa, ON Real Estate</a>
							<a href="/on/hamilton-real-estate">Hamilton, ON Real Estate</a>
							<a href="/on/mississauga-real-estate">Mississauga, ON Real Estate</a>
							<a href="/on/london-real-estate">London, ON Real Estate</a>
							<a href="/on/brampton-real-estate">Brampton, ON Real Estate</a>
							<a href="/on/richmond-hill-real-estate">Richmond Hill, ON Real Estate</a>
							<a href="/on/vaughan-real-estate">Vaughan, ON Real Estate</a>
							<a href="/on/markham-real-estate">Markham, ON Real Estate</a>
							<a href="/on/oakville-real-estate">Oakville, ON Real Estate</a>
							<a href="/on/barrie-real-estate">Barrie, ON Real Estate</a>
							<a href="/on/oshawa-real-estate">Oshawa, ON Real Estate</a>
						</section>
						<section>
							<a href="/on/oshawa-open-houses">Oshawa, ON Open Houses</a>
							<a href="/on/richmond-hill-open-houses">Richmond Hill, ON Open Houses</a>
							<a href="/on/toronto-open-houses">Toronto, ON Open Houses</a>
							<a href="/on/brampton-open-houses">Brampton, ON Open Houses</a>
							<a href="/on/cornwall-open-houses">Cornwall, ON Open Houses</a>
							<a href="/on/pembroke-open-houses">Pembroke, ON Open Houses</a>
							<a href="/on/vaughan-open-houses">Vaughan, ON Open Houses</a>
							<a href="/on/bradford-west-gwillimbury-open-houses">Bradford West Gwillimbury, ON Open Houses</a>
							<a href="/on/east-garafraxa-open-houses">East Garafraxa, ON Open Houses</a>
						</section>
						<section>
							<a href="/on/mississauga-real-estate-agents">Mississauga, ON Real Estate Agents</a>
							<a href="/on/ottawa-real-estate-agents">Ottawa, ON Real Estate Agents</a>
							<a href="/on/brampton-real-estate-agents">Brampton, ON Real Estate Agents</a>
							<a href="/on/markham-real-estate-agents">Markham, ON Real Estate Agents</a>
							<a href="/on/richmond-hill-real-estate-agents">Richmond Hill, ON Real Estate Agents</a>
							<a href="/on/vaughan-real-estate-agents">Vaughan, ON Real Estate Agents</a>
							<a href="/on/oakville-real-estate-agents">Oakville, ON Real Estate Agents</a>
							<a href="/on/kitchener-real-estate-agents">Kitchener, ON Real Estate Agents</a>
							<a href="/on/barrie-real-estate-agents">Barrie, ON Real Estate Agents</a>
							<a href="/on/hamilton-real-estate-agents">Hamilton, ON Real Estate Agents</a>
							<a href="/on/burlington-real-estate-agents">Burlington, ON Real Estate Agents</a>
						</section>
						<section>
							<a href="/neighbourhoods/New-Toronto-real-estate-guide-g10_dpz2n9nr">New Toronto Neighbourhood Profile</a>
							<a href="/neighbourhoods/Toronto-real-estate-guide-g20_dpz83mhe">Toronto Neighbourhood Profile</a>
							<a href="/neighbourhoods/South-Riverdale-real-estate-guide-g10_dpz86dje">South Riverdale Neighbourhood Profile</a>
							<a href="/neighbourhoods/Trinity-Bellwoods-real-estate-guide-g10_dpz82f78">Trinity-Bellwoods Neighbourhood Profile</a>
							<a href="/neighbourhoods/High-Park-Swansea-real-estate-guide-g10_dpz2r9m6">High Park-Swansea Neighbourhood Profile</a>
							<a href="/neighbourhoods/Mount-Pleasant-West-real-estate-guide-g10_dpz89k5s">Mount Pleasant West Neighbourhood Profile</a>
							<a href="/neighbourhoods/The-Beaches-real-estate-guide-g10_dpz87qpf">The Beaches Neighbourhood Profile</a>
							<a href="/neighbourhoods/North-Riverdale-real-estate-guide-g10_dpz86q4p">North Riverdale Neighbourhood Profile</a>
							<a href="/neighbourhoods/Forest-Hill-North-real-estate-guide-g10_dpz88s45">Forest Hill North Neighbourhood Profile</a>
							<a href="/neighbourhoods/Greenwood-Coxwell-real-estate-guide-g10_dpz86ymg">Greenwood-Coxwell Neighbourhood Profile</a>
							<a href="/neighbourhoods/Blake-Jones-real-estate-guide-g10_dpz86xh2">Blake-Jones Neighbourhood Profile</a>
						</section>
					</div>
					<div class="content expand-target">
						<section>
							<a href="/on/kitchener-real-estate">Kitchener, ON Real Estate</a>
							<a href="/on/burlington-real-estate">Burlington, ON Real Estate</a>
							<a href="/on/innisfil-real-estate">Innisfil, ON Real Estate</a>
							<a href="/on/windsor-real-estate">Windsor, ON Real Estate</a>
							<a href="/on/newmarket-real-estate">Newmarket, ON Real Estate</a>
							<a href="/on/waterloo-real-estate">Waterloo, ON Real Estate</a>
							<a href="/on/aurora-real-estate">Aurora, ON Real Estate</a>
							<a href="/on/sault-ste.-marie-real-estate">Sault Ste. Marie, ON Real Estate</a>
							<a href="/on/whitby-real-estate">Whitby, ON Real Estate</a>
							<a href="/on/niagara-falls-real-estate">Niagara Falls, ON Real Estate</a>
							<a href="/on/cambridge-real-estate">Cambridge, ON Real Estate</a>
							<a href="/on/kingston-real-estate">Kingston, ON Real Estate</a>
							<a href="/on/milton-real-estate">Milton, ON Real Estate</a>
							<a href="/on/saint-catharines-real-estate">Saint Catharines, ON Real Estate</a>
							<a href="/on/brantford-real-estate">Brantford, ON Real Estate</a>
							<a href="/on/wasaga-beach-real-estate">Wasaga Beach, ON Real Estate</a>
							<a href="/on/pickering-real-estate">Pickering, ON Real Estate</a>
							<a href="/on/sudbury-real-estate">Sudbury, ON Real Estate</a>
							<a href="/on/ajax-real-estate">Ajax, ON Real Estate</a>
							<a href="/on/whitchurch-stouffville-real-estate">Whitchurch-Stouffville, ON Real Estate</a>
							<a href="/on/guelph-real-estate">Guelph, ON Real Estate</a>
							<a href="/on/georgina-real-estate">Georgina, ON Real Estate</a>
							<a href="/on/collingwood-real-estate">Collingwood, ON Real Estate</a>
							<a href="/on/caledon-real-estate">Caledon, ON Real Estate</a>
							<a href="/on/kawartha-lakes-real-estate">Kawartha Lakes, ON Real Estate</a>
							<a href="/on/east-gwillimbury-real-estate">East Gwillimbury, ON Real Estate</a>
							<a href="/on/clarington-real-estate">Clarington, ON Real Estate</a>
							<a href="/on/greater-sudbury-real-estate">Greater Sudbury, ON Real Estate</a>
							<a href="/on/bradford-west-gwillimbury-real-estate">Bradford West Gwillimbury, ON Real Estate</a>
							<a href="/on/petawawa-real-estate">Petawawa, ON Real Estate</a>
							<a href="/on/new-tecumseth-real-estate">New Tecumseth, ON Real Estate</a>
							<a href="/on/pembroke-real-estate">Pembroke, ON Real Estate</a>
							<a href="/on/woodstock-real-estate">Woodstock, ON Real Estate</a>
							<a href="/on/welland-real-estate">Welland, ON Real Estate</a>
							<a href="/on/orillia-real-estate">Orillia, ON Real Estate</a>
							<a href="/on/north-bay-real-estate">North Bay, ON Real Estate</a>
							<a href="/on/stoney-creek-real-estate">Stoney Creek, ON Real Estate</a>
							<a href="/on/thunder-bay-real-estate">Thunder Bay, ON Real Estate</a>
							<a href="/on/king-real-estate">King, ON Real Estate</a>
						</section>
						<section>
							<a href="/on/hamilton-open-houses">Hamilton, ON Open Houses</a>
							<a href="/on/havelock-belmont-methuen-open-houses">Havelock-Belmont-Methuen, ON Open Houses</a>
							<a href="/on/mississauga-open-houses">Mississauga, ON Open Houses</a>
							<a href="/on/mulmur-open-houses">Mulmur, ON Open Houses</a>
							<a href="/on/orangeville-open-houses">Orangeville, ON Open Houses</a>
							<a href="/on/shelburne-open-houses">Shelburne, ON Open Houses</a>
							<a href="/on/tweed-open-houses">Tweed, ON Open Houses</a>
							<a href="/on/whitby-open-houses">Whitby, ON Open Houses</a>
							<a href="/bc/surrey-open-houses">Surrey, BC Open Houses</a>
							<a href="/bc/victoria-open-houses">Victoria, BC Open Houses</a>
							<a href="/ab/edmonton-open-houses">Edmonton, AB Open Houses</a>
							<a href="/bc/courtenay-open-houses">Courtenay, BC Open Houses</a>
							<a href="/bc/maple-ridge-open-houses">Maple Ridge, BC Open Houses</a>
							<a href="/ab/rural-lac-ste.-anne-county-open-houses">Rural Lac Ste. Anne County, AB Open Houses</a>
							<a href="/bc/delta-open-houses">Delta, BC Open Houses</a>
							<a href="/bc/langley-open-houses">Langley, BC Open Houses</a>
							<a href="/bc/french-creek-open-houses">French Creek, BC Open Houses</a>
							<a href="/bc/abbotsford-open-houses">Abbotsford, BC Open Houses</a>
							<a href="/bc/burnaby-open-houses">Burnaby, BC Open Houses</a>
							<a href="/bc/duncan-open-houses">Duncan, BC Open Houses</a>
							<a href="/bc/coquitlam-open-houses">Coquitlam, BC Open Houses</a>
							<a href="/bc/white-rock-open-houses">White Rock, BC Open Houses</a>
							<a href="/ab/beaumont-open-houses">Beaumont, AB Open Houses</a>
							<a href="/bc/chilliwack-open-houses">Chilliwack, BC Open Houses</a>
							<a href="/bc/richmond-open-houses">Richmond, BC Open Houses</a>
							<a href="/bc/sidney-open-houses">Sidney, BC Open Houses</a>
							<a href="/ab/spruce-grove-open-houses">Spruce Grove, AB Open Houses</a>
							<a href="/bc/vancouver-open-houses">Vancouver, BC Open Houses</a>
							<a href="/bc/central-saanich-open-houses">Central Saanich, BC Open Houses</a>
							<a href="/bc/langford-open-houses">Langford, BC Open Houses</a>
							<a href="/bc/nanaimo-open-houses">Nanaimo, BC Open Houses</a>
							<a href="/ab/saint-albert-open-houses">Saint Albert, AB Open Houses</a>
							<a href="/bc/west-vancouver-open-houses">West Vancouver, BC Open Houses</a>
							<a href="/ab/devon-open-houses">Devon, AB Open Houses</a>
							<a href="/bc/gibsons-open-houses">Gibsons, BC Open Houses</a>
							<a href="/bc/sardis-open-houses">Sardis, BC Open Houses</a>
							<a href="/ab/leduc-open-houses">Leduc, AB Open Houses</a>
							<a href="/bc/mission-open-houses">Mission, BC Open Houses</a>
							<a href="/bc/new-westminster-open-houses">New Westminster, BC Open Houses</a>
							<a href="/bc/north-vancouver-open-houses">North Vancouver, BC Open Houses</a>
							<a href="/bc/parksville-open-houses">Parksville, BC Open Houses</a>
							<a href="/bc/qualicum-beach-open-houses">Qualicum Beach, BC Open Houses</a>
							<a href="/bc/sechelt-open-houses">Sechelt, BC Open Houses</a>
							<a href="/ab/sherwood-park-open-houses">Sherwood Park, AB Open Houses</a>
							<a href="/bc/bowser-open-houses">Bowser, BC Open Houses</a>
							<a href="/bc/lantzville-open-houses">Lantzville, BC Open Houses</a>
						</section>
						<section>
							<a href="/on/cambridge-real-estate-agents">Cambridge, ON Real Estate Agents</a>
							<a href="/on/oshawa-real-estate-agents">Oshawa, ON Real Estate Agents</a>
							<a href="/on/waterloo-real-estate-agents">Waterloo, ON Real Estate Agents</a>
							<a href="/on/london-real-estate-agents">London, ON Real Estate Agents</a>
							<a href="/on/stoney-creek-real-estate-agents">Stoney Creek, ON Real Estate Agents</a>
							<a href="/on/thornhill-real-estate-agents">Thornhill, ON Real Estate Agents</a>
							<a href="/on/windsor-real-estate-agents">Windsor, ON Real Estate Agents</a>
							<a href="/on/ajax-real-estate-agents">Ajax, ON Real Estate Agents</a>
							<a href="/on/woodbridge-real-estate-agents">Woodbridge, ON Real Estate Agents</a>
							<a href="/on/sudbury-real-estate-agents">Sudbury, ON Real Estate Agents</a>
							<a href="/on/st.-catharines-real-estate-agents">St. Catharines, ON Real Estate Agents</a>
							<a href="/on/sarnia-real-estate-agents">Sarnia, ON Real Estate Agents</a>
							<a href="/on/kingston-real-estate-agents">Kingston, ON Real Estate Agents</a>
							<a href="/on/guelph-real-estate-agents">Guelph, ON Real Estate Agents</a>
							<a href="/on/whitby-real-estate-agents">Whitby, ON Real Estate Agents</a>
							<a href="/on/newmarket-real-estate-agents">Newmarket, ON Real Estate Agents</a>
							<a href="/on/milton-real-estate-agents">Milton, ON Real Estate Agents</a>
							<a href="/on/brantford-real-estate-agents">Brantford, ON Real Estate Agents</a>
							<a href="/on/niagara-falls-real-estate-agents">Niagara Falls, ON Real Estate Agents</a>
							<a href="/on/unionville-real-estate-agents">Unionville, ON Real Estate Agents</a>
							<a href="/on/aurora-real-estate-agents">Aurora, ON Real Estate Agents</a>
							<a href="/on/pickering-real-estate-agents">Pickering, ON Real Estate Agents</a>
							<a href="/on/thunder-bay-real-estate-agents">Thunder Bay, ON Real Estate Agents</a>
							<a href="/on/peterborough-real-estate-agents">Peterborough, ON Real Estate Agents</a>
							<a href="/on/bolton-real-estate-agents">Bolton, ON Real Estate Agents</a>
							<a href="/on/orillia-real-estate-agents">Orillia, ON Real Estate Agents</a>
							<a href="/on/ancaster-real-estate-agents">Ancaster, ON Real Estate Agents</a>
							<a href="/on/cornwall-real-estate-agents">Cornwall, ON Real Estate Agents</a>
							<a href="/on/orangeville-real-estate-agents">Orangeville, ON Real Estate Agents</a>
							<a href="/on/wasaga-beach-real-estate-agents">Wasaga Beach, ON Real Estate Agents</a>
							<a href="/on/belleville-real-estate-agents">Belleville, ON Real Estate Agents</a>
							<a href="/on/collingwood-real-estate-agents">Collingwood, ON Real Estate Agents</a>
							<a href="/on/caledon-east-real-estate-agents">Caledon East, ON Real Estate Agents</a>
							<a href="/on/waterdown-real-estate-agents">Waterdown, ON Real Estate Agents</a>
							<a href="/on/georgetown-real-estate-agents">Georgetown, ON Real Estate Agents</a>
							<a href="/on/stratford-real-estate-agents">Stratford, ON Real Estate Agents</a>
							<a href="/on/north-bay-real-estate-agents">North Bay, ON Real Estate Agents</a>
							<a href="/on/keswick-real-estate-agents">Keswick, ON Real Estate Agents</a>
							<a href="/on/midland-real-estate-agents">Midland, ON Real Estate Agents</a>
						</section>
						<section>
							<a href="/neighbourhoods/Lawrence-Park-South-real-estate-guide-g10_dpz89n6r">Lawrence Park South Neighbourhood Profile</a>
							<a href="/neighbourhoods/Dufferin-Grove-real-estate-guide-g10_dpz8275r">Dufferin Grove Neighbourhood Profile</a>
							<a href="/neighbourhoods/Lawrence-Park-North-real-estate-guide-g10_dpz8c0gf">Lawrence Park North Neighbourhood Profile</a>
							<a href="/neighbourhoods/Moss-Park-real-estate-guide-g10_dpz83gqm">Moss Park Neighbourhood Profile</a>
							<a href="/neighbourhoods/Waterfront-Communities-The-Island-real-estate-guide-g10_dpz81xr3">Waterfront Communities-The Island Neighbourhood Profile</a>
							<a href="/neighbourhoods/Casa-Loma-real-estate-guide-g10_dpz8900c">Casa Loma Neighbourhood Profile</a>
							<a href="/neighbourhoods/Forest-Hill-South-real-estate-guide-g10_dpz88fk7">Forest Hill South Neighbourhood Profile</a>
							<a href="/neighbourhoods/High-Park-North-real-estate-guide-g10_dpz2rew7">High Park North Neighbourhood Profile</a>
							<a href="/neighbourhoods/Rosedale-Moore-Park-real-estate-guide-g10_dpz898jq">Rosedale-Moore Park Neighbourhood Profile</a>
							<a href="/neighbourhoods/Weston-Pellam-Park-real-estate-guide-g10_dpz2rydg">Weston-Pellam Park Neighbourhood Profile</a>
							<a href="/neighbourhoods/Cabbagetown-South-St--James-Town-real-estate-guide-g10_dpz83vrq">Cabbagetown-South St. James Town Neighbourhood Profile</a>
							<a href="/neighbourhoods/Mount-Pleasant-East-real-estate-guide-g10_dpz89s1x">Mount Pleasant East Neighbourhood Profile</a>
							<a href="/neighbourhoods/East-End-Danforth-real-estate-guide-g10_dpz8e2ry">East End-Danforth Neighbourhood Profile</a>
							<a href="/neighbourhoods/Woodbine-Corridor-real-estate-guide-g10_dpz87ph7">Woodbine Corridor Neighbourhood Profile</a>
							<a href="/neighbourhoods/Yonge-St-Clair-real-estate-guide-g10_dpz8930h">Yonge-St.Clair Neighbourhood Profile</a>
							<a href="/neighbourhoods/South-Parkdale-real-estate-guide-g10_dpz80rf4">South Parkdale Neighbourhood Profile</a>
							<a href="/neighbourhoods/Corso-Italia-Davenport-real-estate-guide-g10_dpz82pk0">Corso Italia-Davenport Neighbourhood Profile</a>
							<a href="/neighbourhoods/The-Junction-real-estate-guide-g10_dpz2rt6x">The Junction Neighbourhood Profile</a>
							<a href="/neighbourhoods/Dovercourt-Wallace-Emerson-Junction-real-estate-guide-g10_dpz82m4e">Dovercourt-Wallace Emerson-Junction Neighbourhood Profile</a>
							<a href="/neighbourhoods/Regent-Park-real-estate-guide-g10_dpz86h53">Regent Park Neighbourhood Profile</a>
							<a href="/neighbourhoods/Palmerston-Little-Italy-real-estate-guide-g10_dpz82gcm">Palmerston-Little Italy Neighbourhood Profile</a>
							<a href="/neighbourhoods/Yonge-Eglinton-real-estate-guide-g10_dpz89hhn">Yonge-Eglinton Neighbourhood Profile</a>
							<a href="/neighbourhoods/Little-Portugal-real-estate-guide-g10_dpz829b9">Little Portugal Neighbourhood Profile</a>
							<a href="/neighbourhoods/Wychwood-real-estate-guide-g10_dpz82xhh">Wychwood Neighbourhood Profile</a>
							<a href="/neighbourhoods/Danforth-real-estate-guide-g10_dpz8db3v">Danforth Neighbourhood Profile</a>
							<a href="/neighbourhoods/Church-Yonge-Corridor-real-estate-guide-g10_dpz83evz">Church-Yonge Corridor Neighbourhood Profile</a>
							<a href="/neighbourhoods/Kensington-Chinatown-real-estate-guide-g10_dpz836bs">Kensington-Chinatown Neighbourhood Profile</a>
							<a href="/neighbourhoods/The-Annex-real-estate-guide-g10_dpz83n5v">The Annex Neighbourhood Profile</a>
							<a href="/neighbourhoods/Roncesvalles-real-estate-guide-g10_dpz821x3">Roncesvalles Neighbourhood Profile</a>
							<a href="/neighbourhoods/University-real-estate-guide-g10_dpz83htb">University Neighbourhood Profile</a>
							<a href="/neighbourhoods/Niagara-real-estate-guide-g10_dpz80zvd">Niagara Neighbourhood Profile</a>
							<a href="/neighbourhoods/North-St--James-Town-real-estate-guide-g10_dpz83vb9">North St. James Town Neighbourhood Profile</a>
							<a href="/neighbourhoods/Bay-Street-Corridor-real-estate-guide-g10_dpz83e95">Bay Street Corridor Neighbourhood Profile</a>
							<a href="/neighbourhoods/Playter-Estates-Danforth-real-estate-guide-g10_dpz86pxs">Playter Estates-Danforth Neighbourhood Profile</a>
							<a href="/neighbourhoods/Runnymede-Bloor-West-Village-real-estate-guide-g10_dpz2r7bm">Runnymede-Bloor West Village Neighbourhood Profile</a>
							<a href="/neighbourhoods/York-University-Heights-real-estate-guide-g10_dpz2zpmc">York University Heights Neighbourhood Profile</a>
							<a href="/neighbourhoods/Etobicoke-West-Mall-real-estate-guide-g10_dpz2m37d">Etobicoke West Mall Neighbourhood Profile</a>
							<a href="/neighbourhoods/Henry-Farm-real-estate-guide-g10_dpz94833">Henry Farm Neighbourhood Profile</a>
							<a href="/neighbourhoods/Hillcrest-Village-real-estate-guide-g10_dpz94npd">Hillcrest Village Neighbourhood Profile</a>
						</section>
					</div>
				</div>
				<div class="expander">
					<a href="#" class="open" onClick="return toggleExploreToc();">view more <em>&or;</em></a>
					<a href="#" class="close" onClick="return toggleExploreToc();">view less <em>&and;</em></a>
				</div>
			</nav>
			<nav id="footer-toc">
				<section>
					<h1>RE/Max Canada</h1>
					<a href="/ab">Alberta</a>
					<a href="/bc">British Columbia</a>
					<a href="/mb">Manitoba</a>
					<a href="/nb">New Brunswick</a>
					<a href="/nl">Newfoundland and&nbsp;Labrador</a>
					<a href="/nt">Northwest Territories</a>
					<a href="/ns">Nova Scotia</a>
					<a href="/nu">Nunavut</a>
					<a href="/on">Ontario</a>
					<a href="/pe">Prince Edward Island</a>
					<a href="">Quebec</a>
					<a href="/sk">Saskatchewan</a>
					<a href="/yk">Yukon</a>
				</section>
				<section>
					<h1>Site Sections</h1>
					<a href="/editorial/about-us/">About RE/MAX</a>
					<a href="/editorial/why-remax/">Why Choose RE/MAX</a>
					<a href="https://blog.remax.ca/">Blog</a>
					<a href="/find-agent-or-office/agent">Find RE/MAX Agent</a>
					<a href="/find-agent-or-office/office">Find RE/MAX Office</a>
					<a href="/real-estate-listings-canada">Newest Listings In Canada</a>
				</section>
				<section>
					<h1>Legal</h1>
					<a href="/editorial/copyright-terms-of-use/">Copyright/Terms of Use</a>
					<a href="/editorial/privacy-policy/">Privacy Policy</a>
					<a href="/editorial/phishing-and-scam-information/">Online Scams</a>
					<a href="/editorial/legal/">Legal</a>
				</section>
				<section>
					<h1>Corporate Offices</h1>
					<address>
						<em>RE/MAX INTEGRA</em><br>
						7170 Syntex Drive<br>
						Mississauga, ON<br>
						L5N 6H5<br>
						<em>Regional:</em> 905-542-2400<br>
						<em>Fax:</em> 05-542-3340<br>
						<a href="/find-agent-or-office/office" class="inv">Find Nearest RE/MAX Office</a>
					</address>
					<address>
						<em>RE/MAX of Western Canada</em><br>
						#340 1060 Manhattan Drive<br>
						Kelowna, BC<br>
						V1Y 9X9<br>
						<em>Regional:</em> 250-860-3628<br>
						<a href="/find-agent-or-office/office" class="inv">Find Nearest RE/MAX Office</a>
					</address>
				</section>
				<section class="find-us">
					<h1>Find us online</h1>
					<hr />
					<a href=" ">Facebook</a>
					<a href=" ">Twitter</a>
					<a href=" ">Pinterest</a>
					<hr />
				</section>
			</nav>
			<div id="footer-copyright">
				<p>Copyright &copy; 2019 RE/MAX. All rights reserved. The trademarks MLS&reg;, Multiple Listing Service&reg; and the associated logos identify professional services rendered by REALTOR&reg; members of CREA to effect the purchase, sale and lease of real estate as part of a cooperative selling system.</p>
			</div>
		</footer>
	</body>
</html>
